---
import Database from "../components/Database";
import { Toaster } from "@/components/ui/toaster";
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>IPDB</title>
	</head>
	<body>
	<div class="flex flex-col min-h-screen mx-auto justify-start items-center gap-4 mt-24">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      IPDB
		</h1>
		<Database client:load />
		<Toaster client:load />
	</div>
	</body>
</html>
